body {
    margin: 0;
    font-family: 'Times New Roman';
    background-color: rgba(0, 62, 193, 0.03);
}

div {
    font-family: 'Times New Roman';
}

.mantine-10tol26 {
    text-align: center;
    font-family: 'Times New Roman';
}

.graph-card-title {
    font-family: 'Times New Roman';
    text-align: center;
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
}

.card-title {
    font-family: 'Times New Roman';
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.card-text {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
}

.card {
    font-family: 'Times New Roman';
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, 
                rgb(0 0 0 / 5%) 0px 36px 28px -7px,
                rgb(0 0 0 / 4%) 0px 17px 17px -7px;
    border: 1px solid rgb(233, 236, 239);
}

.my-date-range-picker-card {
    margin-left: 20px;
    margin-top: 0px;
    box-shadow: none;
    border: 0px;
}

.date-range-picker-row {
    margin-top: 0px;
}

.date-range-picker-col {
    margin-top: 0px;
}
